.create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.create-form input {
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    border: none;
    background-color: #fff;
    font-size: 16px;
    color: var(--light-grey);
}

.category-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
    font-size: 16px;
}

.create-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    border: none;
    background-color: #fff;
    resize: none;
    height: 60vh;
    font-size: 16px;
}

select {
    padding: 5px;
    font-size: 16px;
    border-radius: var(--border-radius);
}

input::file-selector-button {
  padding: 10px;
  border: thin solid var(--grey);
  border-radius: var(--border-radius);
  background-color: #fff;
  color: var(--light-grey);
}

select, input::file-selector-button:hover {
    cursor: pointer;
}

.create-button-container {
    width: 100%;
    display: flex;
}

.create-button-container button {
    width: 100px;
    height: 40px;
    display: flex;
    border: none;
    background: var(--blue-linear);
    color: #fff;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

@media (max-width: 768px) {
    .create-form button {
        width: 80px;
        height: 35px;
        font-size: 14px;
    }

    .create-form input {
        font-size: 13px;
    }
    
    .create-form textarea {
        font-size: 13px;
    }

    .category-container {
        font-size: 13px;
    }

    select {
        font-size: 13px;
    }
}