nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 40px;
    background-color: grey;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}